*{
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}

html {
    height: 100%;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: whitesmoke;
    min-height: 100%;
}

.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header{
    grid-area: header;
    background-color: rgb(119, 77, 225);
}

.hero{
    grid-area: hero;
    background-color:rgb(113, 26, 151);
}

.content{
    grid-area: content;
    background-color: rgb(78, 48, 200);
}

.sidebar{
    grid-area: sidebar;
    background-color:rgb(30, 88, 159);
}

.footer{
    grid-area: footer;
    background-color: rgb(34, 6, 100);
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "hero"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 320px){
    .grid-container{
        grid-template-areas: 
        "header header"
        "hero hero"
        "content sidebar"
        "footer footer";
    }
}

@media (min-width: 900px){
    .content{
        margin-left: 150px;
    }
    .sidebar{
        margin-right: 150px;
    }
}

